1. Import Pandas with an alias.

In [12]:
import pandas as pd

2. Load the dataset into a pandas DataFrame stocke it in a df variable.

In [13]:
df = pd.read_csv("pokemon_data.csv")

3. Display the first 10 rows.

In [3]:
df.head(10)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False

4. Show its shape, data types, and count of missing values per column.

In [13]:
# The shape:
print(df.shape)
print("--------")
# The dataset has 800 rows and 12 column.
# The data types of column:
print(df.dtypes)
print("--------")
# The missing values:
print(df.info())
# The table present 414 non-null in 'Type 2', means 800 - 414 = 386 missing values
print("--------")
# or
print(df.isna().sum())

(800, 12)
--------
#              int64
Name          object
Type 1        object
Type 2        object
HP             int64
Attack         int64
Defense        int64
Sp. Atk        int64
Sp. Def        int64
Speed          int64
Generation     int64
Legendary       bool
dtype: object
--------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   HP          800 non-null    int64
 5   Attack      800 non-null    int64
 6   Defense     800 non-null    int64
 7   Sp. Atk     800 non-null    int64
 8   Sp. Def     800 non-null    int64
 9   Speed       800 non-null    int64
 10  Generation  800 non-null    int64
 11  Legendary   800 non-null    bool
dtypes: bool(1), int64(8), object(3)
memory usage: 69.7+ KB
None
--------
#               0
Name            0
Type 1          0
Type 2        386
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

5. Select all Pokémon whose Type 1 is “Fire” and whose Attack stat is greater than 70.

In [17]:
print(df[(df["Type 1"] == "Fire") & (df["Attack"] > 70)].head(3))
# or
import numpy as np
bool_data = np.logical_and(df["Type 1"] == "Fire", df["Attack"] > 70)
print(df[bool_data].head(1))

   #                       Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
6  6                  Charizard   Fire  Flying  78      84       78      109
7  6  CharizardMega Charizard X   Fire  Dragon  78     130      111      130
8  6  CharizardMega Charizard Y   Fire  Flying  78     104       78      159

   Sp. Def  Speed  Generation  Legendary
6       85    100           1      False
7       85    100           1      False
8      115    100           1      False
   #       Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
6  6  Charizard   Fire  Flying  78      84       78      109       85    100

   Generation  Legendary
6           1      False

6. Sort the DataFrame by HP in descending order and then by Speed in ascending order. Display the top 5.

In [18]:
data1 = df.sort_values("HP", ascending=False)
print(data1.sort_values("Speed").head(5))

       #       Name  Type 1 Type 2   HP  Attack  Defense  Sp. Atk  Sp. Def  \
230  213    Shuckle     Bug   Rock   20      10      230       10      230
495  446   Munchlax  Normal    NaN  135      85       40       40       85
658  597  Ferroseed   Grass  Steel   44      50       91       24       86
486  438     Bonsly    Rock    NaN   50      80       95       10       45
359  328   Trapinch  Ground    NaN   45     100       45       45       45

     Speed  Generation  Legendary
230      5           2      False
495      5           4      False
658     10           5      False
486     10           4      False
359     10           3      False

7. Create a new column called TotalStats which is the sum of HP, Attack, Defense, Sp. Atk, Sp. Def, and Speed.

In [32]:
df["TotalStats"] = df["Attack"]+df["HP"]+df["Defense"]+df["Speed"]+df["Sp. Atk"]+df["Sp. Def"]
# or 
new_dataset = df.assign(TotalStats=lambda x: x.iloc[:, 4:10].sum(axis=1))
new_dataset.sample(3)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,TotalStats
464,417,Pachirisu,Electric,NaN,60,45,70,45,90,95,4,False,405
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True,600
578,519,Pidove,Normal,Flying,50,55,50,36,30,43,5,False,264

8. Find the average TotalStats for each Type 1. Which type has the highest average?

In [40]:
all_type1 = df.groupby(["Type 1"])["TotalStats"].mean()
print(f"The Type that has the highest average '{all_type1.max()}' is: {all_type1.idxmax()}")

The Type that has the highest average '550.53125' is: Dragon

9. Filter the dataset to keep only Pokémon of generation 1 or 2, and then drop duplicates based on the Name column (keeping the one with the highest TotalStats).

In [43]:
gener1_2_data = df[(df["Generation"]==1) | (df["Generation"]==2)]
# or
bool_gener1_2_data = np.logical_or(df["Generation"]==1, df["Generation"]==2)
df[bool_gener1_2_data].head()
# drop duplicates:
gener1_2_data.drop_duplicates("Name").head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,TotalStats
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

10. For Pokémon whose Legendary flag is true, compute how many there are, and show the top 3 highest TotalStats among them.

In [51]:
# Nembers of legendary pokemons:
legendary_data = df[df["Legendary"]]
nbr_of_legendary = legendary_data["Legendary"].count()
print(nbr_of_legendary)
# The top 3 highest TotalStats:
print(legendary_data.sort_values("TotalStats").head(3))

65
       #      Name    Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  \
156  144  Articuno       Ice  Flying  90      85      100       95      125
157  145    Zapdos  Electric  Flying  90      90       85      125       90
158  146   Moltres      Fire  Flying  90     100       90      125       85

     Speed  Generation  Legendary  TotalStats
156     85           1       True         580
157    100           1       True         580
158     90           1       True         580

11. Convert the Name column to lowercase.

In [53]:
df["Name"] = df["Name"].str.lower()

12. Find the strongest Pokémon in each Type 1 + Type 2 combination.

In [ ]:
strongest_pok = df.groupby(["Type 1", "Type 2"])["TotalStats"].mean()
f"The strongest pokemone has {strongest_pok.max()} in TotalStats is: {strongest_pok.idxmax()}"

"The strongest pokemone has 770.0 in TotalStats is: ('Ground', 'Fire')"

13. Find all Pokémon with unusually high Speed.

In [57]:
unusuallt_speed = df[df["Speed"] > df["Speed"].mean() + 2 * df["Speed"].std()]
unusuallt_speed[["Name", "Type 1", "Generation", "Speed"]].head()

                      Name    Type 1  Generation  Speed
19   beedrillmega beedrill       Bug           1    145
71   alakazammega alakazam   Psychic           1    150
102      gengarmega gengar     Ghost           1    130
109              electrode  Electric           1    140
146                jolteon  Electric           1    130

14. Find Pokémon whose name contains:
- The substring “mega”
- Ends with “ny”
- Has exactly 10 characters
Return the counts for each category.

In [41]:
# The pokemons has the substring "mega":
has_mega = df["Name"][df["Name"].str.contains("Mega")].count()
# Ends with "ny":
end_by_ny = df["Name"][df["Name"].str.endswith("ny")].count()
# 10 characters:
teen_char = df["Name"][df["Name"].str.len()==10].count()
print(f"The {has_mega} have the substring 'Mega' \n{end_by_ny}: ends with 'ny'\n{teen_char}: has exactly 10 characters")

The 49 have the substring 'Mega'
4: ends with 'ny'
46: has exactly 10 characters

15. Compare average stats of Legendary vs Non-Legendary.

In [34]:
df.groupby(["Legendary"])["TotalStats"].mean(numeric_only=True)

Legendary
False    417.213605
True     637.384615
Name: TotalStats, dtype: float64

16. Find all Type 1 categories where median Attack > 75.

In [43]:
group_type1 = df.groupby("Type 1").mean(numeric_only=True)
group_type1[["Attack"]][group_type1["Attack"] > 75]

              Attack
Type 1
Dark       88.387097
Dragon    112.125000
Fighting   96.777778
Fire       84.769231
Flying     78.750000
Ground     95.750000
Rock       92.863636
Steel      92.703704

17. Save a cleaned version of the DataFrame into a new CSV file named pokemon_cleaned.csv.

In [ ]:
df.to_csv("pokemon_cleaned.csv")