## Welcome to this **Pandas Practice Serie**.
### In this notebook, we will practice the most important **Pandas** concepts and functions.
### We will explore and analyze the **Pokémon dataset** to strengthen our data analysis knowledge. 
**[Download_pokemon_dataset](https://www.kaggle.com/api/v1/datasets/download/abcsds/pokemon)**

1. Import Pandas with an alias.

2. Load the dataset into a pandas DataFrame stocke it in a df variable.

3. Display the first 10 rows.

4. Show its shape, data types, and count of missing values per column.

5. Select all Pokémon whose Type 1 is “Fire” and whose Attack stat is greater than 70.

6. Sort the DataFrame by HP in descending order and then by Speed in ascending order. Display the top 5.

7. Create a new column called TotalStats which is the sum of HP, Attack, Defense, Sp. Atk, Sp. Def, and Speed.

8. Find the average TotalStats for each Type 1. Which type has the highest average?

9. Filter the dataset to keep only Pokémon of generation 1 or 2, and then drop duplicates based on the Name column (keeping the one with the highest TotalStats).

10. For Pokémon whose Legendary flag is true, compute how many there are, and show the top 3 highest TotalStats among them.

11. Convert the Name column to lowercase.

12. Find the strongest Pokémon in each Type 1 + Type 2 combination.

13. Find all Pokémon with unusually high Speed.

14. Find Pokémon whose name contains:
- The substring “mega”
- Ends with “ny”
- Has exactly 10 characters
Return the counts for each category.

15. Compare average stats of Legendary vs Non-Legendary.

16. Find all Type 1 categories where median Attack > 75.

17. Save a cleaned version of the DataFrame into a new CSV file named pokemon_cleaned.csv.